{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <h1>Function</h1>
        <h4>Manually trigger a function</h4>
        <small>
        - A place from where developers can run functions.</br>
        </small>
        </br>  

    <form action="/function" method="POST">
            <select id="mycheckbox" name="mycheckbox">
                <option>send test email</option>
                <option>add a stock to american watchlist</option>
                <option>add a stock to asian watchlist</option>
                <option>add a stock to european watchlist</option>
                <option>add a currency pair to watchlist</option>
                <option>print american stock watchlist</option>
                <option>print asian stock watchlist</option>
                <option>print european stock watchlist</option>
                <option>print cpair watchlist</option>
                <option>test timed function</option>
                <option>add email to list</option>
                <option>print email list</option>
                <option>remove stock from american stocks</option>
                <option>remove stock from european stocks</option>
                <option>remove stock from asian stocks</option>
                <option>remove currency pair from currency pairs</option>
                <option>remove email from recipients</option>
            </select> *function - <small><i>Function to be executed</small></i></br>
            <input type="password" name="mycheckbox" value=''> *password - <small><i>Developer password</small></i></br> 
            <input type="sop" name="mycheckbox" value=''> *List element - <small><i>stock/cpair/email</small></i></br> 
        <input type="submit" value="Изпълни"></br> 
        </form>
    {{ output | safe}}
    <small>
        {{tables_1 | safe}}
    </small>
    
{% endblock %}